#form1 {
	color:red;
	background-color: gray;
}

#intro {
	color:black;
	background-color: blue;
}
#form1 {
	color:black;
	background-color: red;
}
body{
	color:white;
	background-color: gray;
}
#script1{
	color: black;
	background-color: blue;
}