#form1 {
	color:red;
	background-color: gray;
}

#intro {
	color:white;
	background-color: blue;
}
#form1 {
	color:black;
	background-color: red;
}
body{
	color:white;
	background-color: black;
}
#script1{
	color: black;
	background-color: blue;
}
#power {
	color:red;
	background-color: white;
}
#energy {
	color:red;
	background-color: #202020;
}
#energy2 {
	color:red;
	background-color: #00CCCC;
}